/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

html, body{    
    font-family:'Ubuntu', sans-serif;
    box-sizing:border-box;
    overflow-x:hidden;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

/* html{
    position: relative;
    min-height: 100%;
}  */
/* html, body{
    min-height: 100% !important; 
}  */

/* Header */

header{
  background-color:#419488;
  height: 117px;
  padding: 20px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header .container{
  max-width: 1255px;    
  margin: auto;   
  /* background-color: #000; */
  height: 70px;
}

header .row{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}

header .col{
  width:50%;
}

header ul{
  width: 82%;
  margin-left: 200px;    
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 42px;
  
  /* padding: 20px;
  padding: 20px; */
  /* padding-left: 80px; */
  
}

/* footer .col ul li:not(:last-child){
  margin-bo;
} */

header .col ul li a{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-transform: uppercase;  
  color: #FDFDFD;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 700;
}

header .col ul li a:hover{
  color: #FFFFFF;
  padding-left: 10px;
  cursor: pointer;
}

















/* Main */

main{
  margin-bottom:207px;
  margin-top: 117px;
  width:100%;
}






/* Footer */

footer{
  background-color:#419488;
  height: 207px;
  padding: 28px;
}

footer .container{
  max-width: 1184px;    
  margin: auto;   
  /* background-color: #000; */
  /* height: 151px; */
}

footer .row{
  display: flex;
  flex-wrap: wrap;
}

footer .col{
  width:33%;
  padding: 15px 30px;
}

footer ul{
  list-style: none;
  padding: 20px;
  padding-left: 80px;
  
}

/* footer .col ul li:not(:last-child){
  margin-bo;
} */

footer .col ul li a{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 400;
}

footer .col ul li a:hover{
  color: #FFFFFF;
  padding-left: 10px;
  cursor: pointer;
}

footer button{
  color: #fff;
  font-family: Ubuntu;
  text-align: center;
  border: 2px solid #fff;
  background-color: #419488;
  box-sizing: border-box;
  border-radius: 62px;
  line-height: 23px;
  font-size: 20px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  height: 51px;
  width: 289px;
  text-align: center;
}

button:hover{
  cursor: pointer;
  opacity: 0.5;
}



/* Responsividade */



@media only screen and (max-width: 1125px){

  /* Header */
  header{        
      height: 117px;
      padding: 20px;        
  }
  header .container{
      width: 95%;
  }
  header ul{
      width:60%;
      padding: 0px 10px;
  }
  

  /* Main */

  main .container3{
      margin-left: 40px;
  }



  /* Footer */
  footer .col{
      width: 33%;
      padding: 15px 15px;
      
  } 
  footer ul{
      /* padding: 20px; */
      padding-left: 120px;
  }
  footer button{
      border-radius: 62px;
      line-height: 23px;
      font-size: 20px;
      height: 51px;
      width: 240px;
  }

  
}

@media only screen and (max-width: 880px){

  /* Header */
  header{        
      height: 117px;
      padding: 20px;        
  }
  header .container{
      width: 95%;
      padding-right: 100px;
      
      
      
  }

  header .col ul li a{
      padding: 15px;
         
  }

  header ul{
      width:10%;     
      padding: 0px 50px;  
  }
 

  /* Main */


  

  /* Footer */
  footer .col{
      width: 33%;
      padding: 15px 15px;
      
  } 
  footer ul{
      /* padding: 20px; */
      padding-left: 120px;
  }
  footer button{
      border-radius: 62px;
      line-height: 23px;
      font-size: 20px;
      height: 51px;
      width: 230px;
  }

  
}

@media only screen and (max-width: 780px){

  /* Header */
  header{        
      height: 117px;
      padding: 20px;        
  }
  header .container{
      width: 100%;
      padding-right: 40px;
      
  }

  header .col ul li a{
      padding: 0px;
      margin-right: 20px ;
      
  }

  header ul{
      width: 1%;   
      padding: 0px 7px;    
  }
 

  /* Main */


  

  /* Footer */

  footer{
      background-color:#419488;
      height: 50%;
      padding: 28px;
  }

  footer .container{
      padding: 0px 50px;
  }
  footer .col{
      width: 50%;
      margin: auto;
      /* padding: 20px; */
      
  } 

  


  
      
  footer button{
      margin-right: auto;
      border-radius: 62px;
      line-height: 23px;
      font-size: 20px;
      height: 51px;
      width: 260px;
  }

  
}








@media only screen and (max-width: 480px){
  
  /* Header */
  header{        
      height: 150px;
      padding:20px;        
  }
  header .container{
      width: 100%;
      /* background-color: #FF4081; */
      height: 100%;
      /* margin-left: 15%; */
      
  }

  header .col{
      width: 100%;
      padding-left: 70px;
      
  }

  header img{
      width: 95%;
      padding: 0px 10px;
      
  }

  
  
  header ul{
      /* display: inline-block; */
      list-style: none;
      margin: auto;
      /* padding: 15px 70px; */
      line-height: 70px;
      padding-left: 20px;
      
      
      
  }


  /* Main */




  /* Footer */

  footer .container{
      padding: 0px 15px;
      /* background-color: #FF4081; */
      height: 350px;
  }


  footer .col{
      width: 100%;
      /* padding: 15px 15px; */
      height: 100px;
      margin: auto;
  } 

  footer .row{
      align-items: center;
      
  }
  footer ul{
      /* padding: 20px; */
      padding-left: 30px;
      display: flex;
      /* width: 80%; */
  }
  
      
          
          
          
          
      
  

  footer li{
      padding: 10px;
  }
  footer button{
      width: 289px;
  }
  footer{
      height: 400px;        
  }

  footer img{
      width: 90%;
      padding-left: 20px;
  }
  
  
  
}




















































/* *,*:before,*:after{
  box-sizing:inherit
}

html{
  font-family: 'Ubuntu', sans-serif;
  box-sizing:border-box;
  overflow-x:hidden;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  margin: 0;
  padding: 0;
}

a{
  text-decoration:none;
  color:inherit;
  cursor:pointer;
}

img{
  border-style:none;
  vertical-align:middle;
  max-width:100%;
  height:auto;
}

button{
  font:inherit;
  margin:0;
  overflow:visible;
  text-transform:none;
  border-radius: 68px;
  padding: 8px 18px;
}

button:hover{
  cursor: pointer;
  opacity: 0.5;
}

footer button {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  background-color: #419488;
  
}

.bunner-button {
  width: 268px;
height: 51px;
left: 207px;
top: 577px;
border: 2px solid #FF4081;
font-size: 27px;
color: #FF4081;
  background-color: #fff;
  line-height: 31px;
  margin-top: 8px;  
}

.cursos-button {
  color: #fff;
  background-color: #FF4081;
  border: none;
  font-size: 18px;
}

.blog-button {
border: 2px solid #FF4081;
color: #FF4081;
  background-color: #fff;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  line-height: 69px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 8px;
}

.sub-title {
  font-size: 27px;
}

h3 {
  font-size: 25px;
  line-height: 29px;
}

h1,
h3 {
  color: #FF4081
}

h2 {
  color: #009688;
}

.col p {
  margin-top: 0;
}

.top{
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  left: 0;
  color: #fff;
  background-color: #419488;
}

.banner-post {
  background: #C4C4C4;
}

.item{
  border:none;
  display:inline-block;
  padding:8px 16px;
  background-color:inherit;
  text-align:center;  
  white-space:nowrap;
  width:100%;
  text-align:left;
  bottom:0
}

.item:hover{
  opacity: 0.5;
}

.bar {
  padding:8px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-item{
  padding:10px 16px;
  float:left;
  width:auto;
  border:none;
  display:inline;
  font-weight: bold;
}


.right{
  float:right!important;
}

.center{
  text-align:center!important;
}

.left {
  text-align: left!important;
}

.titulo {
  padding-top:64px!important;
  padding-bottom:64px!important
}

.row{
  padding: 10%;
  padding-top:64px;
  padding-bottom:64px;
}

.row:after{content:"";
  display:table;
  clear:both
}

.row2{
  padding: 10%;
  padding-top: 64px!important;
  padding-bottom: 64px!important;
  display: inline-flex;
  text-align: center;
  background: #F7F7F7;
}

.row2:after{content:"";
  display:table;
  clear:both;
}

.row3{
  padding: 10%;
  padding-top: 64px!important;
  padding-bottom: 64px!important;
  display: inline-flex;
  text-align: center;
  background: #F7F7F7;
}

.row3:after{content:"";
  display:table;
  clear:both;
}

.col{
  float:left;
  width:100%;
  padding:12px 24px!important
}

.col2 {
  display:inline;
}

.col3 {
  float:left;
  width:100%;
  padding:12px 24px!important
}

.col4 {
  float:left;
  width:100%;
  padding:12px 24px!important
}

.bar2 {
  padding:8px 16px;
  display: inline-flex;
  width:100%;
  z-index:1;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

footer {
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: #419488;
}


@media (min-width:601px){
.col {
  width:50%;
}
.col3 {
  width:50%;
}
.banner-post {    
  width: 100%; 
  height: 100%;
}

}

@media (min-width:993px){
.content {
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
}
}

@media screen and (max-width: 601px) { 
  .banner-post {    
    width: 100%; 
    height: 100%;
  }

  .row2 {    
    flex-wrap: wrap;
    flex-direction: row;
  }

  h1 {
    font-size: 35px;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 8px;
  }
  
  .sub-title {
    font-size: 18px;
  }
  
  .bunner-button { 
    width: 218px;
  height: 51px;
  left: 207px;
  top: 577px;
  border: 2px solid #FF4081;
  font-size: 20px;
  }
} */