/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family:'Ubuntu', sans-serif;
    box-sizing:border-box;
    overflow-x:hidden;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

/* html{
    position: relative;
    min-height: 100%;
} */

header{
    background-color:#419488;
    height: 117px;
    padding: 20px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header .container{
    max-width: 1255px;    
    margin: auto;   
    /* background-color: #000; */
    height: 70px;
}

header .row{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

header .col{
    width:50%;
}

header ul{
    width: 82%;
    margin-left: 200px;    
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 42px;
    
    /* padding: 20px;
    padding: 20px; */
    /* padding-left: 80px; */
    
}

/* footer .col ul li:not(:last-child){
    margin-bo;
} */

header .col ul li a{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    text-transform: uppercase;  
    color: #FDFDFD;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 700;
}

header .col ul li a:hover{
    color: #FFFFFF;
    padding-left: 10px;
    cursor: pointer;
}

















/* Main */

main{
    margin-bottom:207px;
    margin-top: 117px;
    width:100%;
}






/* Footer */

footer{
    background-color:#419488;
    height: 207px;
    padding: 28px;
}

footer .container{
    max-width: 1184px;    
    margin: auto;   
    /* background-color: #000; */
    /* height: 151px; */
}

footer .row{
    display: flex;
    flex-wrap: wrap;
}

footer .col{
    width:33%;
    padding: 15px 30px;
}

footer ul{
    list-style: none;
    padding: 20px;
    padding-left: 80px;
    
}

/* footer .col ul li:not(:last-child){
    margin-bo;
} */

footer .col ul li a{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 400;
}

footer .col ul li a:hover{
    color: #FFFFFF;
    padding-left: 10px;
    cursor: pointer;
}

footer button{
    color: #fff;
    font-family: Ubuntu;
    text-align: center;
    border: 2px solid #fff;
    background-color: #419488;
    box-sizing: border-box;
    border-radius: 62px;
    line-height: 23px;
    font-size: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    height: 51px;
    width: 289px;
    text-align: center;
}

button:hover{
    cursor: pointer;
    opacity: 0.5;
}



/* Responsividade */






@media only screen and (max-width: 1125px){

    /* Header */
    header{        
        height: 117px;
        padding: 20px;        
    }
    header .container{
        width: 95%;
    }
    header ul{
        width:60%;
        padding: 0px 10px;
    }

    /* Main */





    /* Footer */
    footer .col{
        width: 33%;
        padding: 15px 15px;
        
    } 
    footer ul{
        /* padding: 20px; */
        padding-left: 120px;
    }
    footer button{
        border-radius: 62px;
        line-height: 23px;
        font-size: 20px;
        height: 51px;
        width: 240px;
    }

    
}

@media only screen and (max-width: 880px){

    /* Header */
    header{        
        height: 117px;
        padding: 20px;        
    }
    header .container{
        width: 95%;
        
    }

    header .col ul li a{
        padding: 15px;
    }

    header ul{
        width:10%;       
    }
   

    /* Main */

    /* Footer */
    footer .col{
        width: 33%;
        padding: 15px 15px;
        
    } 
    footer ul{
        /* padding: 20px; */
        padding-left: 120px;
    }
    footer button{
        border-radius: 62px;
        line-height: 23px;
        font-size: 20px;
        height: 51px;
        width: 230px;
    }

    
}








@media only screen and (max-width: 480px){
    
    /* Header */
    header{        
        height: 220px;
        padding:20px;        
    }
    header .container{
        width: 100%;
        margin-left: 15%;
        
    }

    header .col{
        width: 100%;
        
    }

    
    header ul{
        display: inline-block;
        list-style: none;
        margin: auto;
        padding: 15px 70px;
        line-height: 30px;
        
        
        
    }


    /* Main */





    /* Footer */




    footer .col{
        width: 100%;
        /* padding: 15px 15px; */
        height: 100px;
        margin-top: 50px;
    } 

    footer .row{
        align-items: center;
        
    }
    footer ul{
        /* padding: 20px; */
        padding-left: 120px;
    }
    footer button{
        width: 289px;
    }
    footer{
        height: 600px;        
    }

    
    
}






